:root {
  --header-height: 100px;
}

html {
  background-image: linear-gradient(
    109.6deg,
    rgba(156, 252, 248, 1) 11.2%,
    rgba(110, 123, 251, 1) 91.1%
  );
  background-color: gray;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 30px;
  justify-content: stretch;
  margin: auto;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: var(--header-height);
  max-width: 1400px;
  margin: auto;
  width: 100%;
}
.my_logo {
  margin-left: 20px;
}

.main {
  max-width: 1400px;
}

footer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.footer_a {
  color: antiquewhite;
  font-size: 1.5rem;
  font-weight: bold;
}
/* Navbar */
.nav_ul {
  display: flex;
  height: 3em;
  margin-right: 20px;
}

.nav_ul li {
  list-style-type: none;
  min-width: 130px;
}

/*Use this class for centering*/
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
.nav_ul li:hover{
  border: 2px solid rgb(102, 101, 101);
  border-radius: 50px;
  color:rgb(63, 63, 63)
}
*/
.nav_ul li a:hover {
  border: 2px solid rgb(102, 101, 101);
  border-radius: 50px;
  color: rgb(63, 63, 63);
  padding: 10px;
}

.nav_ul li a {
  border: 2px solid transparent;
  text-decoration: none;
  color: rgb(46, 43, 43);
  font-weight: bold;
  font-size: 1.4rem;
  padding: 5px;
}

/*Landing section*/
.section_landing {
  height: calc(100vh - 100px);
  flex-direction: column;
}
.landing_name {
  color: darkblue;
  margin: 0.2em;
}
.landing_title {
  margin: 0.2em;
}

.landing_description {
  width: 40%;
  text-align: center;
}

/*Social media accounts box */
.social_items_box {
  display: flex;
  width: 100%;
}
.social_media_link {
  margin: 10px;
}

.social_media_svg {
  fill: black;
}
.social_media_svg:hover {
  fill: blue;
  transform: scale(1.4);
  transition: ease-in 0.5s;
}
/*About section*/

.section_about {
  background-color: rgba(135, 209, 222, 0.301);
}

/*Skills section*/

.skills_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill_box {
  height: 100px;
  background-color: rgba(228, 228, 228, 0.685);
  margin: 10px;
  width: 110px;
  height: 110px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  box-shadow: 5px 10px rgba(51, 51, 51, 0.603);
}

.skill_name {
  margin: 0px;
  color: black;
}

.logo {
  height: 45px;
  width: 45px;
}

/*Project project*/

.projects_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project_box {
  background-color: rgba(255, 127, 80, 0.493);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.project_img {
  background-color: rgba(128, 255, 0, 0.336);
  height: 300px;
  width: 300px;
}

.project_link_box {
  position: absolute;
  margin-top: 150px;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  z-index: -1;
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}
.project_box:hover .project_link_box {
  opacity: 1;
  z-index: 1;
}

/*Contact section*/

.contact_subheader {
  width: 80%;
  margin: auto;
  text-align: center;
}
.contact_button_box .contact_link {
  text-decoration: none;
  color: rgb(8, 28, 94);
  background-color: transparent;
  border: 3px solid rgba(8, 28, 94, 1);
  border-radius: 100px;
  padding: 0.3em 1.2em;
  margin: 40px;
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    rgba(8, 28, 94, 1) 50%
  );
  transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,
    color 0.5s ease 0s, background-color 0.5s ease;
}
.contact_button_box .contact_link:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgb(8, 28, 94);
  background-position: -100% 100%;
}
/*Responsive font-size*/
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

/*hamburger menu */

@media screen and (max-width: 800px) {
  .line {
    background-color: white;
    height: 5px;
    width: 30px;
    margin: 3px;
  }

  .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
    transition: ease-out 1s;
    z-index: 2;
  }
  .navbar {
    position: fixed;
    background-color: rgba(128, 128, 128, 0.911);
    height: 100vh;
    width: 100%;
    margin-left: -22px;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 80% -20%);
    transition: all 1s ease-out;
  }
  .navbar.open {
    clip-path: circle(1400px at 90% -10%);
    -webkit-clip-path: circle(1400px at 80% -10%);
  }

  .nav_ul {
    flex-direction: column;
  }
  .nav_ul li {
    margin: 5vh;
  }
  /* active and passive hamburger toggle*/
  .rotateright {
    transform: rotate(-45deg);
    transition: ease 1s;
  }

  .rotateleft {
    transform: rotate(45deg);
    transition: ease 1s;
    margin-top: -8px;
  }
  .passive {
    display: none;
    transition: ease 2s;
  }
}

/*In safari browser header height equlas 0,
therefore we gave header height as a margin-top*/

@supports (-webkit-hyphens: none) {
  .safari_only {
    margin-top: var(--header-height);
  }
  .safari_only2 {
    margin-top: 80px;
  }
}

/*DARK THEME*/
body.dark-theme {
  color: rgb(233, 232, 232);
  background: #222222;
}
h2.dark-theme {
  color: rgb(233, 232, 232);
}

svg.dark-theme {
  fill: rgb(233, 232, 232);
}

.contact_button_box .contact_link.dark-theme {
  color: rgb(233, 232, 232);
  border: 3px solid rgba(233, 232, 232, 1);
  background-image: linear-gradient(
    to right,
    transparent 50%,
    rgba(233, 232, 232, 0.377) 50%
  );
}

.nav_ul li .textLink.dark-theme {
  color: rgb(233, 232, 232);
}

.btn {
  width: 50px;
  height: 40px;
  margin: 30px;
  background: transparent;
  border: none;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 100px;
}
