:root {
  --header-height: 100px;
}

html {
  background-color: rgb(182, 182, 182);
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 30px;
  max-width: 1400px;
  justify-content: stretch;
  margin: auto;
  height: 100%;

  background-color: rgba(222, 184, 135, 0.301);
}

header {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: var(--header-height);
  background-color: rgba(135, 155, 222, 0.301);
}

main {
  background-color: rgba(222, 135, 142, 0.301);
}

footer {
  padding-left: 20px;
  padding-left: 20px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.151);
}

.footer_a {
  color: antiquewhite;
  font-size: 1.5rem;
  font-weight: bold;
}
/* Navbar */
.nav_ul {
  display: flex;
  height: 3em;
}

.nav_ul li {
  list-style-type: none;
  min-width: 130px;
}

/*Use this class for centering*/
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
.nav_ul li:hover{
  border: 2px solid rgb(102, 101, 101);
  border-radius: 50px;
  color:rgb(63, 63, 63)
}
*/
.nav_ul li a:hover {
  border: 2px solid rgb(102, 101, 101);
  border-radius: 50px;
  color: rgb(63, 63, 63);
  padding: 10px;
}

.nav_ul li a {
  border: 2px solid transparent;
  text-decoration: none;
  color: rgb(46, 43, 43);
  font-weight: bold;
  font-size: 1.4rem;
  padding: 5px;
}

/*Landing section*/
.section_landing {
  background-color: rgba(145, 222, 135, 0.301);
  height: calc(100vh - 100px);
  flex-direction: column;
}
.landing_name {
  color: darkblue;
  margin: 0.2em;
}
.landing_title {
  margin: 0.2em;
}

.landing_description {
  width: 40%;
  text-align: center;
}

/*About section*/

.section_about {
  background-color: rgba(135, 209, 222, 0.301);
}

/*Skills section*/

.section_skills {
  background-color: rgba(135, 209, 222, 0.301);
}

/*Skills project*/

.section_project {
  background-color: rgba(135, 209, 222, 0.301);
}

/*Skills section*/

.section_contact {
  background-color: rgba(135, 209, 222, 0.301);
}

html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

/*hamburger menu */

@media screen and (max-width: 800px) {
  .line {
    background-color: white;
    height: 5px;
    width: 30px;
    margin: 3px;
  }

  .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
    transition: ease-out 1s;
    z-index: 2;
  }
  .navbar {
    position: fixed;
    background-color: rgba(128, 128, 128, 0.911);
    height: 100vh;
    width: 100%;
    margin-left: -22px;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
  }
  .navbar.open {
    clip-path: circle(1400px at 90% -10%);
    -webkit-clip-path: circle(1400px at 90% -10%);
  }

  .nav_ul {
    flex-direction: column;
  }
  .nav_ul li {
    margin: 5vh;
  }
  /* active and passive hamburger toggle*/
  .rotateright {
    transform: rotate(-45deg);
    transition: ease 1s;
  }

  .rotateleft {
    transform: rotate(45deg);
    transition: ease 1s;
    margin-top: -8px;
  }
  .passive {
    display: none;
    transition: ease 2s;
  }
}

/*In safari browser header height equlas 0,
therefore we gave header height as a margin-top*/

@supports (-webkit-hyphens: none) {
  .safari_only {
    margin-top: var(--header-height);
  }
}
