:root {
  --header-height: 100px;
}

html {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    109.6deg,
    rgba(156, 252, 248, 1) 11.2%,
    rgba(110, 123, 251, 1) 91.1%
  );
  background-color: gray;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 30px;
  justify-content: stretch;
  margin: auto;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: var(--header-height);
  max-width: 1400px;
  margin: auto;
  width: 100%;
}
.my_logo {
  margin: 0px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100px;
}

.main {
  max-width: 1400px;
}

footer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.footer_a {
  color: antiquewhite;
  font-size: 1.5rem;
  font-weight: bold;
}
/* Navbar */
.nav_ul {
  display: flex;
  height: 3em;
  margin-right: 20px;
}

.nav_ul li {
  list-style-type: none;
  min-width: 130px;
}

/*Use this class for centering*/
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
.nav_ul li:hover{
  border: 2px solid rgb(102, 101, 101);
  border-radius: 50px;
  color:rgb(63, 63, 63)
}
*/
.nav_ul li a:hover {
  border: 2px solid rgb(102, 101, 101);
  border-radius: 50px;
  color: rgb(63, 63, 63);
  padding: 10px;
}

.nav_ul li a {
  border: 2px solid transparent;
  text-decoration: none;
  color: rgb(46, 43, 43);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px;
}

/*Landing section*/
.section_landing {
  height: calc(100vh - 100px);
  flex-direction: column;
}
.landing_name {
  color: darkblue;
  animation: type_effect 6s steps(60, end) infinite;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: center;
  font-weight: 60;
}
@keyframes type_effect {
  from {
    width: 0;
  }
  to {
    width: 100;
  }
}

.fullname {
  font-weight: bold;
}

/*steps() is a timing function that allows us to break an animation or transition into segments, rather than one continuous transition from one state to another.
steps(<number_of_steps>, <direction>)
*/

.landing_title {
  margin: 0.2em;
  animation: appear_effect 3s;
  opacity: 1;
}

@keyframes appear_effect {
  0% {
    opacity: 0.2;
    transform: scale(1.3);
    transform: translateX(640px);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

.landing_description {
  width: 40%;
  text-align: center;
}

/*Social media accounts box */
.social_items_box {
  display: flex;
  width: 100%;
}
.social_media_link {
  margin: 10px;
}

.social_media_svg {
  fill: black;
}
.social_media_svg:hover {
  fill: blue;
  transform: scale(1.4);
  transition: ease-in 0.5s;
}
/*About section*/

.section_about {
  background-color: rgba(135, 209, 222, 0.301);
}

/*Skills section*/

.skills_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill_box {
  height: 100px;
  background-color: rgba(228, 228, 228, 0.685);
  margin: 10px;
  width: 120px;
  height: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.skill_name {
  margin: 0px;
  color: black;
}

.logo {
  height: 45px;
  width: 45px;
}

.skill_box:hover .logo {
  transform: scale(1.1);
  transition: ease-in 0.5s;
}

.skill_box:hover {
  box-shadow: inset 0 0 2px #000000;
  transition: ease-in 0.8s;
}

/*Project project*/

.projects_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project_box {
  background-image: linear-gradient(
    109.6deg,
    rgba(8, 130, 146, 0.733) 16%,
    #bbb 91.1%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: black;
}
.project_img {
  background-color: rgba(128, 255, 0, 0.336);
  height: 300px;
  width: 300px;
}

.project_link_box {
  position: absolute;
  margin-top: 150px;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  z-index: -1;
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}
.project_link_box a {
  text-decoration: none;
  color: rgb(8, 28, 94);
  background-color: rgba(223, 223, 223, 0.479);
  border: 3px solid rgba(8, 28, 94, 1);
  border-radius: 100px;
  padding: 0.3em 1.2em;
  margin: 40px;
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    rgba(8, 28, 94, 1) 50%
  );
  transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,
    color 0.5s ease 0s, background-color 0.5s ease;
}

.project_link_box a:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgb(8, 28, 94);
  background-position: -100% 100%;
}

.project_box:hover .project_link_box {
  opacity: 1;
  z-index: 1;
}

/*Contact section*/

.contact_subheader {
  width: 80%;
  margin: auto;
  text-align: center;
}
.contact_button_box .contact_link {
  text-decoration: none;
  color: rgb(8, 28, 94);
  background-color: transparent;
  border: 3px solid rgba(8, 28, 94, 1);
  border-radius: 100px;
  padding: 0.3em 1.2em;
  margin: 40px;
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    rgba(8, 28, 94, 1) 50%
  );
  transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,
    color 0.5s ease 0s, background-color 0.5s ease;
}
.contact_button_box .contact_link:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgb(8, 28, 94);
  background-position: -100% 100%;
}

/*Why section*/

.why_subheader {
  width: 80%;
  margin: auto;
  text-align: center;
}

.why_subheader {
  width: 80%;
  margin: auto;
  text-align: center;
}

.why_section_links_box {
  margin: 20px 0px 80px 0px;
}

.why_link {
  border: 2px solid gray;
  border-radius: 30px;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
}

/*Responsive font-size*/
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

/*hamburger menu */

@media screen and (max-width: 940px) {
  .line {
    background-color: white;
    height: 5px;
    width: 30px;
    margin: 3px;
  }

  .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
    transition: ease-out 1s;
    z-index: 2;
  }
  .navbar {
    position: fixed;
    background-color: rgba(128, 128, 128, 0.911);
    height: 100vh;
    width: 100%;
    clip-path: circle(100px at 90% -25%);
    -webkit-clip-path: circle(100px at 80% -25%);
    transition: all 1s ease-out;
  }
  .navbar.open {
    clip-path: circle(1400px at 90% -10%);
    -webkit-clip-path: circle(1400px at 80% -10%);
  }

  .nav_ul {
    flex-direction: column;
  }
  .nav_ul li {
    margin: 5vh;
  }
  /* active and passive hamburger toggle*/
  .rotateright {
    transform: rotate(-45deg);
    transition: ease 1s;
  }

  .rotateleft {
    transform: rotate(45deg);
    transition: ease 1s;
    margin-top: -8px;
  }
  .passive {
    display: none;
    transition: ease 2s;
  }
}

/*In safari browser header height equlas 0,
therefore we gave header height as a margin-top*/

@supports (-webkit-hyphens: none) {
  .safari_only {
    margin-top: var(--header-height);
  }
  .safari_only2 {
    margin-top: 80px;
  }
}

/*DARK THEME*/
body.dark-theme {
  color: rgb(233, 232, 232);
  background: #363636;
}
h2.dark-theme {
  color: rgb(233, 232, 232);
}

svg.dark-theme {
  fill: rgb(233, 232, 232);
}

.contact_button_box .contact_link.dark-theme {
  color: rgb(233, 232, 232);
  border: 3px solid rgba(233, 232, 232, 1);
  background-image: linear-gradient(
    to right,
    transparent 50%,
    rgba(233, 232, 232, 0.377) 50%
  );
}

.nav_ul li .textLink.dark-theme {
  color: rgb(233, 232, 232);
}

.nav_ul li .textLink.dark-theme {
  color: rgb(233, 232, 232);
}

.why_link.dark-theme {
  color: rgb(233, 232, 232);
}

.btn {
  width: 80px;
  height: 40px;
  margin: 30px;
  background: transparent;
  border: none;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 100px;
  outline: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn img {
  margin: 0px 5px 0px 5px;
}
/*Switch button*/
.selector {
  width: 40px;
  height: 40px;
  position: absolute;
}

.right {
  background-color: rgb(94, 165, 223);
  margin-left: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0.9;
  transition: all 1s ease;
}
.left {
  background-color: black;
  margin-right: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 0.9;
  transition: all 1s ease;
}
/*Top button*/

.top {
  margin-left: auto;
  padding: 0px 30px 20px 0px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 40px;
  width: 40px;
}

.top.dark-theme {
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(248, 248, 248));
}
